/* body{
  background-color: #E8E8E8;
  color: #fff;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

header{
  width: 1250px;
  height: 170px;
  background-color: aqua;
  margin: auto;
}

main{
  width: 1250px;
  height: 450px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

aside{
  width: 450px;
  background-color: red;
}

section{
  width: 780px;
  background-color: green;
}

footer{
  width: 1250px;
  height: 100px;
  background-color: aqua;
  margin: auto;
  margin-bottom: 50px;
}